body {
    color: white;   
    background-color: black;
    justify-content: center;
    text-align: center;
    font-family: "Special Gothic Condensed One", sans-serif;
}

p {
    max-width: 900px;
}