* {
    margin: 0;
    padding: 0;
}

body {
    color: white;   
    background-color: black;
    justify-content: center;
    text-align: center;
    font-family: "Special Gothic Condensed One", sans-serif;
}

p {

}